footer {
  position: relative;
  width: calc(100% - 2rem);
  padding: 96px 0;
  text-align: center;
  // color: $colour-beige;
  color: $colour-dark-blue;
  // background: rgba(49, 55, 63, 0.5);
  // backdrop-filter: blur(1px);
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  max-width: 1920px;
  margin-inline: auto;
  // box-shadow: -5px -5px 15px -5px rgba(0, 0, 0, 0.3);

  @media (min-width: $breakpoint-md) {
    padding: 128px 0;
    width: calc(100% - 3rem);
  }

  .container {
    height: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .social-links {
      a {
        margin-right: 12px;

        svg {
          width: 20px;
          height: auto;
          // fill: $colour-beige;
          fill: $colour-dark-blue;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          svg {
            fill: $secondary-accent;
          }
        }
      }
    }

    .copyright {
      margin-top: 48px;
      color: $colour-dark-blue;

      small {
        font-size: 0.875rem;
      }
    }
  }
}
