footer {
  position: relative;
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  @include gradientBG($colour-dark-blue, $colour-dark-blue);
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  max-width: $max-site-width;
  margin-inline: auto;
  flex-grow: 1;

  .container {
    height: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }

  .footer-content__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    height: 100%;

    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    img {
      width: 50px;
      height: auto;
      fill: $white;
    }

    h6 {
      color: $white;
      text-align: left;
    }

    .copyright {
      color: $white;
      text-align: left;

      small {
        font-size: 0.875rem;
      }
    }

    h5 {
      color: $white;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
        gap: 1rem;
      }

      li {
        text-align: left;

        a {
          font-size: 0.875rem;
          color: $white;
        }
      }
    }

    .social-links {
      a {
        margin-right: 12px;

        svg {
          width: 20px;
          height: auto;
          fill: $white;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          svg {
            fill: $secondary-accent;
          }
        }
      }
    }
  }
}
