footer {
  width: 100%;
  padding: 96px 0;
  text-align: center;
  color: $colour-beige;

  @media (min-width: $breakpoint-md) {
    padding: 128px 0;
  }

  .container {
    height: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .social-links {
      a {
        margin-right: 12px;

        svg {
          width: 20px;
          height: auto;
          fill: $colour-beige;
          transition: all 0.3s ease-in-out;
        }
      }

      a:hover:nth-child(1) {
        svg {
          fill: $colour-red;
        }
      }

      a:hover:nth-child(2) {
        svg {
          fill: $colour-light-blue;
        }
      }

      a:hover:nth-child(3) {
        svg {
          fill: $colour-yellow;
        }
      }
    }

    .copyright {
      margin-top: 48px;

      small {
        font-size: 0.75rem;
      }
    }
  }
}
