.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  height: 72px;
  z-index: 10;
  color: transparent;
  background: transparent;
  transition: all 0.3s ease-in-out;

  @media (min-width: $breakpoint-lg) {
    width: 100%;
    top: 0;
  }

  & .container {
    width: 100%;
  }

  .header-content {
    width: 100%;
    max-width: $max-site-width;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    display: inline-block;

    @media (min-width: $breakpoint-lg) {
      display: none;
    }

    h3 {
      color: $white;
      margin: 0;
      line-height: 0;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 5px;

      &:before {
        content: '';
        width: 30px;
        height: 25px;
        background: url('/ALDC-Logo-Light.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      svg {
        font-size: 1.5rem;
        fill: $primary-accent;
      }
    }

    .main-nav ul li a {
      color: $white;
    }

    .social-links a svg {
      fill: $white;
    }
  }
}

// Header Color Change on Scroll
.header-bg-color {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  background: $white;
  // background: rgba(255, 255, 255, 0.9);
  // backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out;

  .header-logo h3 {
    color: $colour-dark-blue !important;

    &:before {
      content: '';
      width: 30px;
      height: 25px;
      background: url('/ALDC-Logo-Fade.svg') !important;
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;
    }
  }

  .main-nav ul li a {
    color: $colour-dark-blue !important;
  }

  .social-links a svg {
    fill: $colour-dark-blue !important;
  }

  .hamburger {
    svg {
      fill: $colour-dark-blue;
    }
  }
}
