.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  // max-width: $max-site-width;
  margin-inline: auto;
  height: 72px;
  z-index: 10;
  color: transparent;
  // background: $white;
  background: transparent;
  transition: all 0.3s ease-in-out;

  @media (min-width: $breakpoint-md) {
    width: 100%;
    top: 0;
  }

  & .container {
    width: 100%;
  }

  .header-content {
    width: 100%;
    max-width: $max-site-width;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    display: inline-block;

    @media (min-width: $breakpoint-md) {
      display: none;
    }

    h3 {
      // color: $colour-dark-blue;
      color: $white;
      margin: 0;
      line-height: 0;
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      svg {
        font-size: 1.5rem;
        fill: $primary-accent;
      }
    }
  }
}

// Header Color Change on Scroll
.header-bg-color {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  background: $white;
  transition: all 0.3s ease-in-out;

  .header-logo h3 {
    color: $colour-dark-blue !important;
  }

  .main-nav ul li a {
    color: $colour-dark-blue;
  }

  .social-links a svg {
    fill: $colour-dark-blue;
  }

  .hamburger {
    svg {
      fill: $colour-dark-blue;
    }
  }

  // &.main-nav.active {
  //   .hamburger {
  //     svg {
  //       fill: $colour-dark-blue;
  //     }
  //   }
  // }
}
