/* Hire Me CTA */

.hireCTA {
  .hireCTA__content {
    display: flex;
    // flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    text-align: center;
    margin-inline: auto;
    padding: 1.5rem;
    border-radius: $border-radius-sm;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      border-radius: $border-radius-lg;
    }

    h2 {
      margin: 0;
      color: $colour-dark-blue;

      svg {
        display: none;
        width: 32px;
        padding-top: 12px;
        color: $colour-dark-blue;

        @media (min-width: $breakpoint-md) {
          display: inline-block;
        }
      }
    }
  }
}
