/* Hire Me CTA */

.hireCTA {
  .container {
    border: 1px solid $colour-light-blue;
    border-radius: $border-radius-sm;
    @media (min-width: $breakpoint-md) {
      border-radius: $border-radius-lg;
    }
  }

  .hireCTA__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }

    h2 {
      margin: 0;
      color: $colour-beige;

      svg {
        display: none;
        width: 32px;
        padding-top: 12px;
        color: $colour-beige;

        @media (min-width: $breakpoint-md) {
          display: inline-block;
        }
      }
    }
  }
}
