.block-2col {
  padding: $padding-sm 0 !important;

  @media (min-width: $breakpoint-md) {
    padding: $padding-md 0 !important;
  }

  .content-2col {
    display: grid;
    grid-template-columns: $grid-1col;
    gap: $grid-spacing-md;
    // background: $card-bg;
    // border: 1px solid $colour-beige;
    border-top: 1px solid $colour-beige;
    border-left: 1px solid $colour-beige;
    border-radius: $border-radius-sm;
    padding: $padding-sm;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: $grid-2col;
      grid-gap: $grid-spacing-lg;
      border-radius: $border-radius-lg;
      padding: $padding-md;
    }

    @media (min-width: $breakpoint-lg) {
      padding: $padding-lg;
    }

    .content-2col__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $grid-spacing-sm;
      padding: $padding-md 0;

      @media (min-width: $breakpoint-md) {
        gap: $grid-spacing-md;
        padding: $padding-xl 0;
      }
    }

    .content-2col__text:nth-of-type(even) {
      margin-top: 0;

      // @media (min-width: $breakpoint-md) {
      //   margin-top: 120px;
      // }
    }

    .content-2col__img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius-sm;

        @media (min-width: $breakpoint-md) {
          border-radius: $border-radius-lg;
        }
      }
    }
  }

  .content-2col.reverse {
    div:nth-of-type(odd) {
      order: 1;
      @media (min-width: $breakpoint-md) {
        order: 2;
      }
    }

    div:nth-of-type(even) {
      order: 1;
    }
  }
}
