/* Forms */
.contact-form__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}

form {
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    color: $colour-dark-blue;
    border: none;
    background: $card-bg;
    border-radius: $border-radius-sm;
    resize: none;
    line-height: 1.5rem;
  }

  label {
    display: block;
    visibility: hidden;
  }

  input[type='submit'] {
    border: 0;
    width: fit-content;
    margin-right: 0;
    cursor: pointer;
  }

  input[type='submit']:focus {
    box-shadow: none;
  }

  ::placeholder {
    font-size: 0.85rem;
    color: #999;
    font-style: italic;
    letter-spacing: 0.025rem;
  }
}

.form__result,
.form-sending,
.form-sent {
  // color: $white;
  margin: 3rem auto 0;
  padding: $padding-lg;
  text-align: left;
  width: 100%;
  border-radius: $border-radius-lg;
  transition: $transition-all;
  background: $card-bg;

  h5 {
    margin-top: 0 !important;
  }

  p {
    margin: 0;
  }

  a {
    color: $primary-accent;
  }
}

// .form-sending {
//   background: $colour-dark-blue;
// }

// .form-sent {
//   padding: $padding-lg;
//   background: $card-bg;
//   // border: 1px solid $secondary-accent;
//   border-radius: $border-radius-lg;
//   a {
//     color: $primary-accent;
//   }
// }
