.content-col {
  display: block;

  h4:first-of-type {
    margin-bottom: 0.25rem;
  }

  span {
    font-weight: 600;
  }

  p {
    margin-bottom: 1.5rem;
  }

  // p:first-of-type {
  //   margin-top: 1rem;
  // }
}
