.hero {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  background: linear-gradient(45deg, $colour-dark-blue, $primary-accent);
  z-index: -1;

  .container {
    position: relative;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-items: center;

    &.half {
      flex-direction: column;
      gap: 2.5rem 1.5rem;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
      }

      .hero-content__text {
        width: 100%;
        align-items: center;

        @media (min-width: $breakpoint-lg) {
          width: 50%;
          align-items: flex-start;
          margin-top: unset;
        }
      }

      .hero-content__image {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
          width: 50%;
        }
      }
    }

    &.full {
      .hero-content__text {
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }

  .hero-content__text {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    @media (min-width: $breakpoint-lg) {
      text-align: left;
    }

    .heading {
      width: 100%;
      color: $white;
    }

    .subheading {
      width: 100%;
      max-width: 800px;
      color: $white;
    }
  }

  .hero-content__image {
    position: relative;
    width: 100%;
    overflow: clip;
    // background: $card-bg;
    border-radius: $border-radius-lg;
    padding: 3rem 3rem 0;
    // box-shadow: -5px -5px 15px -5px rgba(0, 0, 0, 0.3);

    @media (min-width: $breakpoint-md) {
      position: relative;
      width: 600px;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      animation: headbob 3s;
    }
  }

  &.hero-large {
    height: auto;
    @media (min-width: $breakpoint-lg) {
      max-height: 750px;
    }
  }

  &.hero-medium {
    height: auto;
    min-height: 500px;
  }

  &.hero-small {
    height: auto;
    min-height: 300px;
  }
}
