.hero {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  margin-top: -72px;
  @include gradientBG($colour-dark-blue, $primary-accent);

  .container {
    display: flex;
    align-items: center;
  }

  .hero-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 72px;

    &.half {
      flex-direction: column;
      gap: 2.5rem 1.5rem;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
      }

      .hero-content__text {
        width: 100%;
        align-items: flex-start;

        @media (min-width: $breakpoint-lg) {
          align-items: flex-start;
          margin-top: unset;
        }
      }

      .hero-content__image {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
          width: 80%;
        }
      }
    }

    &.full {
      .hero-content__text {
        width: 100%;
        height: 100%;
        text-align: left;
      }
    }
  }

  .hero-content__text {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    z-index: 1;

    @media (min-width: $breakpoint-lg) {
      text-align: left;
    }

    .heading {
      width: 100%;
      color: $white;
      text-wrap: balance;
    }

    .subheading {
      width: 100%;
      max-width: 800px;
      color: $white;
    }
  }

  .hero-content__image {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -100px;
    transform: rotate(-15deg) scale(1.5);
    overflow: clip;
    animation: FadeIn 3s;
    z-index: 0;

    @media (min-width: $breakpoint-lg) {
      bottom: -200px;
      right: -100px;
      transform: rotate(-15deg) scale(1);
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      opacity: 0.2;
    }
  }

  &.hero-large {
    height: 100vh;
    @media (min-width: $breakpoint-lg) {
      max-height: 1000px;
    }
  }

  &.hero-medium {
    height: 450px;

    .container {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -130px;
        right: 0px;
        background: url('src/assets/images/ALDC-Logo-Dark.svg') no-repeat;
        background-size: 100% 100%;
        width: 350px;
        height: 350px;
        transform: rotate(-15deg);
        opacity: 0.2;
        animation: FadeIn2 3s;

        @media (min-width: $breakpoint-md) {
          bottom: -150px;
          width: 500px;
          height: 500px;
        }
      }
    }
  }

  &.hero-small {
    height: 350px;
  }
}
