/* Home - About */
.home-about {
  position: relative;
  .home-about__content {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;

    & .content-col {
      display: flex;
    }
    h2 {
      position: relative;
      display: inline-block;
      z-index: 2;
      color: $colour-dark-blue;
      // color: $colour-beige;
    }

    // p {
    //   padding: 24px 0;
    // }
  }
}
