/* Home - About */
.home-about {
  position: relative;
  .content-2col {
    background: $card-bg;
    margin: 0;
    padding: $padding-lg;
    text-align: left;
    border-radius: $border-radius-lg;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 3fr 1fr;
    }

    .content-2col__text {
      // display: flex;
    }

    h2 {
      position: relative;
      display: inline-block;
      z-index: 2;
      color: $colour-dark-blue;
    }

    // p {
    //   @media (min-width: $breakpoint-lg) {
    //     max-width: 75%;
    //   }
    // }

    button {
      margin-top: 1rem;
    }
  }
}
