.main-nav {
  display: inline-block;

  ul {
    display: inline-flex;

    li {
      margin-right: 24px;
    }

    li a {
      font-family: $heading-font;
      font-weight: 700;
      text-transform: uppercase;
      padding: 12px 16px 8px;
      border-radius: 4px;
      background: transparent;
      transition: all 0.3s ease-in-out;
      color: $primary-accent;
    }

    li a:hover {
      color: $white;
      background: $primary-accent;
    }

    li:last-of-type {
      margin-right: 0;
    }
  }
}
