.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px;
  // grid-gap: 48px;
  margin-bottom: 48px;
  // padding: 24px;
  border-radius: 12px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 48px;
  }

  .project-card__image {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      background-size: cover;
      border-radius: 8px;
    }
  }

  .project-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding-left: 0;
    text-align: left;

    @media (min-width: 768px) {
      padding-left: 48px;
    }

    h4 {
      margin-top: 10px;
    }

    .btn {
      // Controls button width while in flex container
      align-self: flex-start;
      margin-top: 32px;
    }
  }
}

.project-card:nth-child(1),
.project-card:nth-child(3) {
  .project-card__image {
    @media (min-width: 768px) {
      order: 2;
    }
  }
}
