.skills-new {
  .skills__content {
    .skills-icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-inline: auto;
      max-width: 900px;

      li {
        width: 50px;
        height: 50px;
        svg {
          width: 100%;
          height: 100%;
          color: $card-bg;
          transition: $transition-all;
          cursor: pointer;
          &:hover {
            color: $colour-dark-blue;
            transform: scale(1.25);
          }
        }
      }
    }
  }
}
