.skills-new {
  .skills__content {
    .skills-icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-inline: auto;
      max-width: 960px;

      @media (min-width: $breakpoint-md) {
        gap: 2rem;
      }

      li {
        width: 32px;
        height: 32px;
        @media (min-width: $breakpoint-md) {
          width: 40px;
          height: 40px;
        }
        svg {
          width: 100%;
          height: 100%;
          color: $colour-dark-blue;
          opacity: 0.25;
          transition: $transition-all;
          cursor: pointer;
          &:hover {
            // color: $colour-dark-blue;
            opacity: 1;
            transform: scale(1.25);
          }
        }
      }
    }
  }
}
