.social-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.875rem;

  a {
    svg {
      width: 20px;
      height: auto;
      fill: $white;
      transition: all 0.3s ease-in-out;
    }
  }

  a:hover {
    svg {
      // fill: $secondary-accent;
      opacity: 0.5;
    }
  }
}
