@keyframes headbob {
  from {
    bottom: -100%;
  }

  33% {
    bottom: -350px;
  }

  66% {
    bottom: -100%;
  }

  to {
    bottom: -65px;
  }
}

@keyframes glowpulse {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
