/* Mixins */

/* Flex-Centre */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Reset */
@mixin button-reset {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}
