/* Fonts */
$heading-font: 'Josefin Sans', Arial, Verdana, sans-serif;
$body-font: 'Lato', Arial, Verdana, sans-serif;

/* Colours */
$white: #ffffff;
$black: #1a1b1c;

$colour-one: #292f36;
$colour-two: #78a1bb;
$colour-three: #db4c40;
$colour-four: #f3e9d2;
$colour-five: #ffd400;

$primary-accent: $colour-one;
$primary-accent-light: $colour-two;
$secondary-accent: $colour-three;
$secondary-accent-light: $colour-five;

/* Margins and Spacing */
$gutter-width: 1.5rem;
$section-padding-small: 48px;
$section-padding-large: 64px;
