/* Fonts */
$heading-font: 'Rubik', Arial, Verdana, sans-serif;
$body-font: 'Poppins', Arial, Verdana, sans-serif;

/* Colours */
$white: #ffffff;
$black: #1a1b1c;

$colour-dark-blue: #292f36;
$colour-green: #99da44;
$colour-green-light: #bce784;
$colour-pink: #e51bd4;
$colour-pink-light: #fc3ce9;
$card-bg: #f1f1f1;

$primary-accent: $colour-pink;
$primary-accent-light: $colour-pink-light;
$secondary-accent: $colour-green;
$secondary-accent-light: $colour-green-light;

/* Site Widths */
$max-site-width-lg: 1280px;
$max-site-width-xl: 1440px;

/* Margins and Spacing */
$gutter-width: 1.5rem;
$section-padding-small: 3rem;
$section-padding-large: 4rem;

/* Padding */
$padding-sm: 1rem;
$padding-md: 1.5rem;
$padding-lg: 2rem;
$padding-xl: 3rem;

/* Grid Sizing */
$grid-1col: 1fr;
$grid-2col: repeat(2, 1fr);
$grid-3col: repeat(3, 1fr);
$grid-4col: repeat(4, 1fr);

/* Grid Spacing */
$grid-spacing-sm: 1rem;
$grid-spacing-md: 2rem;
$grid-spacing-lg: 3rem;

/* Borders */
$border-radius-xs: 0.75rem;
$border-radius-sm: 1rem;
$border-radius-lg: 1.5rem;

/* Breakpoints */
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

/* Transitions */
$transition-all: all 0.3s ease-in-out;

/* New Gradient BG Variables */
$noise-texture: url('/images/noise.svg');
$noise-size: 50%;
$gradient-blend-mode: normal;
$gradient-blur: 60px;
$gradient: radial-gradient(at 75.4% 28.5%, #99da44 0px, transparent 50%),
  radial-gradient(at 76.1% 78.3%, #e51bd4 0px, transparent 50%),
  radial-gradient(at 80.6% 27.8%, #292f36 0px, transparent 50%),
  radial-gradient(at 37.3% 34.6%, #e51bd4 0px, transparent 50%),
  radial-gradient(at 67% 20%, #292f36 0px, transparent 50%),
  radial-gradient(at 12.2% 11.2%, #292f36 0px, transparent 50%);

// .noise {
//   background-image: var($noise-texture);
//   background-size: var($noise-size);
//   background-position: center;
//   background-repeat: repeat;
// }

// .frosted-backdrop {
//   backdrop-filter: blur($gradient-blur) contrast(100%) brightness(100%);
//   -webkit-backdrop-filter: blur($gradient-blur) contrast(100%) brightness(100%);
// }
