.contact {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
    }
  }
  h4 {
    margin-top: 4rem;
  }
  .contact__form {
    .btn {
      margin-top: 1rem;
    }
  }
}
