.contact {
  .contact__content {
    display: grid;
    grid-template-columns: $grid-1col;
    grid-column-gap: $grid-spacing-lg;
    grid-row-gap: $grid-spacing-lg;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: $grid-2col;
    }

    .content-col {
      display: flex;
    }
  }

  h4 {
    margin: $padding-xl 0 $padding-sm;
  }

  .social-links svg {
    fill: $colour-dark-blue;
  }

  .contact__form {
    .btn {
      margin-top: 1rem;
    }
  }
}
