.home-hero {
  // background: rgb(41, 47, 54);
  // background: linear-gradient(
  //   90deg,
  //   rgba(41, 47, 54, 1) 0%,
  //   rgba(41, 47, 54, 1) 20%,
  //   rgba(120, 161, 187, 1) 20%,
  //   rgba(120, 161, 187, 1) 40%,
  //   rgba(219, 76, 64, 1) 40%,
  //   rgba(219, 76, 64, 1) 60%,
  //   rgba(243, 233, 210, 1) 60%,
  //   rgba(243, 233, 210, 1) 80%,
  //   rgba(255, 212, 0, 1) 80%,
  //   rgba(255, 212, 0, 1) 100%
  // );
  background: $colour-beige;
  overflow: hidden;

  .container {
    position: relative;
  }

  .hero-content {
    color: $colour-dark-blue;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 128px auto 0;

    @media (min-width: 1100px) {
      justify-content: center;
      margin: 0;
      text-align: left;
    }
  }

  .home-hero-image {
    position: absolute;
    bottom: -65px;
    right: 0;
    width: 100%;
    animation: headbob 3s;

    @media (min-width: 1100px) {
      width: 600px;
      height: auto;
    }

    img {
      // filter: drop-shadow(0px 0px 5px $colour-dark-blue);

      height: auto;
      margin: 0 auto;

      @media (min-width: 1100px) {
        width: 100%;
      }
    }
  }
}
