// Project Page -- Overrides

.project-content {
  display: grid;
  grid-template-columns: $grid-1col;
  grid-column-gap: $grid-spacing-lg;
  grid-row-gap: $grid-spacing-lg;
  padding: $padding-lg;

  @media (min-width: $breakpoint-md) {
    padding: $padding-xl;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: $grid-2col;
  }
}
