// SERVICES PAGE OVERRIDES

.services {
  .service {
    padding-bottom: $padding-xl !important;

    .content-col {
      background: $card-bg;
      padding: $padding-md;
      border-radius: $border-radius-lg;

      @media (min-width: $breakpoint-md) {
        padding: $padding-lg;
      }

      p {
        @media (min-width: $breakpoint-lg) {
          max-width: 75%;
        }
      }
    }
  }

  .service:nth-of-type(even) {
    .content-col {
      background: none;
      padding: 0 $padding-md;
    }
  }

  // .service:last-of-type {
  //   padding-bottom: 4rem !important;
  // }
}
