@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-ExtraBold.eot');
  src: url('/fonts/Rubik-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Rubik-ExtraBold.woff2') format('woff2'),
    url('/fonts/Rubik-ExtraBold.woff') format('woff'),
    url('/fonts/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.eot');
  src: url('/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins-Light.woff2') format('woff2'),
    url('/fonts/Poppins-Light.woff') format('woff'),
    url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
