/*** GENERAL STYLES ***/
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: $body-font;
  font-size: 100%;
  background: $card-bg;
  color: $colour-dark-blue;
}

#root {
  contain: paint;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $colour-dark-blue;
}

p {
  a {
    color: $primary-accent !important;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $primary-accent;
    }
  }
}

/* Links */
a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: $primary-accent;
}

/* Buttons */
button {
  @include button-reset;
}

.btn {
  display: inline-block;
  font-family: $heading-font;
  font-weight: 800;
  font-size: 0.85rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 1rem 1.75rem;
  // border-radius: $border-radius-xs;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.btn-primary {
  background-image: linear-gradient(
    270deg,
    $primary-accent,
    $primary-accent,
    $primary-accent-light,
    $primary-accent
  );
  background-size: 300%;
  background-position: right;
  transition: 0.5s background-position ease-in-out;
  color: $white;

  &:hover {
    background-position: left;
  }
}

.btn-secondary {
  background-image: linear-gradient(
    270deg,
    $secondary-accent,
    $secondary-accent,
    $secondary-accent-light,
    $secondary-accent
  );
  background-size: 300%;
  background-position: right;
  transition: 0.5s background-position ease-in-out;
  color: $white;

  &:hover {
    background-position: left;
  }
}

/* Containers, Sections, etc */
.page-container {
  position: relative;
  width: 100%;
  max-width: $max-site-width;
  background: $white;
  border-radius: $border-radius-lg;
  margin-top: -2rem;
  margin-inline: auto;
  padding: $padding-sm 0;
  z-index: 1;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    padding: $padding-md 0;
    margin-top: -3rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding: $padding-lg 0;
  }
}

.container {
  max-width: $max-site-width;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 0 $padding-md;
  position: relative;

  @media (min-width: $breakpoint-md) {
    padding: 0 $padding-lg;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 0 $padding-xl;
  }
}

section:not(.header, .hero, :first-of-type) {
  padding: 4rem 0;

  @media (min-width: $breakpoint-md) {
    padding: 6rem 0;
  }
}

section:first-of-type:not(.hero, .header) {
  padding: 2rem 0 4rem;

  @media (min-width: $breakpoint-md) {
    padding: 2rem 0 6rem;
  }
}

.content-col {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
}

/* Color Spans */
.colour-blue {
  color: $colour-dark-blue;
}
.colour-lightblue {
  color: $colour-light-blue;
}
.colour-beige {
  color: $colour-beige;
}
