/*** GENERAL STYLES ***/

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  font-family: $body-font;
  overflow-x: hidden;
  background: $colour-dark-blue;
  color: $colour-beige;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $colour-beige;
}

/* Links */
a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: $primary-accent;
}

/* Buttons */
button {
  @include button-reset;
}

.btn {
  display: inline-block;
  font-family: $heading-font;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 1.75rem 0.75rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: $white;
  background: $primary-accent;

  &:hover {
    background: $primary-accent-light;
  }
}

.btn-secondary {
  color: $white;
  background: $secondary-accent;

  &:hover {
    background: $secondary-accent-light;
  }
}

/* Containers, Sections, etc */
.container {
  width: calc(100% - $gutter-width * 2);
  height: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

section:not(.header, .hero) {
  padding: 48px 0;

  @media (min-width: $breakpoint-md) {
    padding: 64px 0;
  }
}

/* Color Spans */
.colour-blue {
  color: $colour-dark-blue;
}
.colour-lightblue {
  color: $colour-light-blue;
}
.colour-orange {
  color: $colour-red;
}
.colour-beige {
  color: $colour-beige;
}
.colour-yellow {
  color: $colour-yellow;
}
